.login{
    margin-left: 40%;
    margin-top: 10%;
}
.log{
    margin-left: 30%;
    margin-bottom: 2%;
}
#labelid{
    border-bottom: 2px solid #E1D89F;
    border-radius: 2px;
    font-size: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .button2{
    margin-left: 5%;
    padding: 3px 15px;
    width: 21%;
    background-color: #024C02;
    margin-top: 1%;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
    border-color: #024C02;
}
#login{
    color: #024C02;
  }
  .add{
    width: 30%;
    padding: 1%;
    border-radius: 5px;
    padding: 1.5%;
    /* margin-top: 3%; */
}







